name: Continuous Integration

on:
  push:
    branches: 
      - main
  pull_request:
    branches: [main]

jobs:

  qa:
    name: Quality check
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v1

      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: 3.8

      - name: Wemake Python Stylguide
        uses: wemake-services/wemake-python-styleguide@0.13.4
        continue-on-error: true
        with:
          reporter: 'github-pr-review'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
